@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
$primary: #21243D; 
$white: white; 
$accents: #FF6464;
$lightBlue: #EDF7FA; 
$blue: #008ACC; 
$fontFamily: "Heebo", sans-serif;
$transition: .3s ease-in-out; 
